:host ::ng-deep .demo {
  overflow: auto;
}

:host ::ng-deep .ant-popover-wrap > a {
  margin-right: 8px;
}

button {
  margin-right: 8px;
  margin-bottom: 8px;
  width: 70px;
  text-align: center;
  padding: 0;
}

.ant-advanced-search-form {
  padding: 24px;
  background: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
}

.search-result-list {
  margin-top: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  background-color: #fafafa;
  min-height: 200px;
  text-align: center;
  padding-top: 80px;
}

[nz-form-label] {
  overflow: visible;
}

button {
  margin-left: 8px;
}
/**
Material style
 */
.titleStyle{
  text-align: center;
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  font-size:30px;
}

.navStyle{
  text-align: center;
  font-family: "calibri light", Helvetica, Arial, sans-serif;
  font-size:22px;
}

.mat-toolbar.mat-primary {
  background: #41aaaa;
}

.adjustPos{
  margin-top: 8px;
}

.common{
  text-align: center;
  font-weight:bold;
  font-size:20px;
  width: 200px;
  background: rgba(0,0,0,.03);
}

.common1{
  text-align: center;
  font-weight:bold;
  font-size:20px;
  width: 200px;
  background: rgba(0,0,0,.03);
  width: 300px;
}

.titleBlock{
  width:100%;
  padding: 10px 0px 10px 0px;
  background:rgba(0,0,0,.03);
}

h2 {
  margin:0px 1.25rem;
  padding: 0px 0px 0px 0px;
  font-size: 15px;
  font-weight: bold;
  color: black;
}

a {
  color: #888;
  text-decoration: none;
}

li {
  list-style-type:none;
}

ul {
  padding-left: 0px;
}

ul li:hover{
  background:rgba(0,0,0,0.06);
}

.ui.grid{
  margin: 0px;
}

.panel {
  height: 100%;
  padding: 64px 0 0;
  box-sizing: border-box ;
  position: relative;
}

.head {
  height: 64px;
  position: absolute;
  top: 0 ;
  left: 0 ;
  width: 100%;
}

.mainPanel {
  height: 100%;
}

.clickColor{
  background:rgba(0,0,0,0.06);
}
